h1 {
    padding-top: 50px;
    text-align: center;
    font-size: 55px !important;
}

#icons .linkedin {
    color:#007bb6;
    text-align: center !important;
    font-size: 1.75em;
}

#icons .linkedin:hover {
    color:#6cadde;
}

#icons .resume {
    color: #8993A7;
    text-align: center !important;
    font-size: 1.5em;
    padding-left: 10px;
}

#icons .resume:hover {
    color: #B8B8B8;
}

#icons .git {
    color:black;
    text-align: center !important;
    font-size: 1.75em;

}

#icons .git:hover {
    color: #383838;
}
.col-md-12 {
    text-align: center;
}

#greeting {
    text-align: center;
    padding-top:10px;
}

.second_heading {
    font-size: 23px;
}

body {
    background-color: #FCFFF7 !important;
    font-family: 'Roboto Slab', serif !important;
    margin: 0px !important;
    padding-bottom: 0px !important;

}

.greeting_text {
    text-align: center;
    padding-top: 30px;
    max-width: 850px;
    margin:0 auto;
    color: #84B59F;
    font-size: 18px;

}

.expText {
    text-align: center;
    padding-top: 80px;
    padding-left: 10px;
    color: #59A5D8;
    padding-bottom: 20px;
}


.exp_img {
    width: auto;
    height: 100px;
    padding-left: 100px;
}
.top-buffer { margin-top:50px; }

.logo_img {
    width:auto;
    height:100px;
    padding-left: 130px;
    padding-top: 20px;
}
footer {
    width:100%;
    padding-bottom: 1px;
}

a {
    text-decoration: none !important;
}
#navbar ul { 
	margin: 0 !important; 
	padding: 5px !important; 
    list-style-type: none !important; 
    text-align: left;
    padding-left: 200px !important;
    padding-top: 50px !important;
    padding-bottom:0px;
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none !important; 
	padding: .2em 1em !important; 
} 

.active-page {
    background-color: black !important; 
    color: white !important;
}
.nonactive-page {
    color: #59A5D8 !important;
}
    
    